{% extends 'back/master.html' %}
{% load static %}
{% block pageblock %}
<!-- Datatables Header -->
                       <div class="content-header">
                           <div class="header-section">
                               <h1>
                                   <i class="fa fa-table"></i>News List<br><small>Managing news was never so much easier!!</small>
                               </h1>
                           </div>
                       </div>
                       <ul class="breadcrumb breadcrumb-top">
                           <li>News</li>
                           <li><a href="panel/news/list/">List</a></li>
                       </ul>
                       <!-- END Datatables Header -->

                       <!-- Datatables Content -->
                       <div class="row">
                           <div class="col-md-12">
                               <!-- Basic Form Elements Block -->
                               <div class="block">
                                   <!-- Basic Form Elements Title -->
                                   <div class="block-title">
                                       <div class="block-options pull-right">
                                           <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                                       </div>
                                       <h2><strong>Basic Form</strong> Elements</h2>
                                   </div>
                                   <!-- END Form Elements Title -->

                                   <!-- Basic Form Elements Content -->
                                   <form action="page_forms_general.html" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                                        <div class="form-group">
                                        <div class="col-md-7">
                                      <input type="text" class="form-control" placeholder=".col-md-7">
                                            </div>
                                           <div class="col-md-5">
                                     <input type="text" class="form-control" placeholder=".col-md-5">
                                       </div>
                                            <div class="col-md-12">
                                      <textarea type="text" rows="5" class="form-control" placeholder=".col-md-5"></textarea>
                                        </div>
                                      </div>
                                           <div class="col-md-12">
                                     <textarea type="text" rows="5" class="form-control" placeholder=".col-md-5"></textarea>
                                       </div>
                                   </form>
                                   <!-- END Basic Form Elements Content -->
                               </div>
                               <!-- END Basic Form Elements Block -->
                           </div>
                       <!-- END Datatables Content -->
{% endblock %}

{% block javascript %}

        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="{% static 'back/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'back/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'back/js/plugins.js' %}"></script>
        <script src="{% static 'back/js/app.js' %}"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}
