{% extends 'back/master.html' %}
{% load static %}
{% block pageblock %}
<!-- Datatables Header -->
                       <div class="content-header">
                           <div class="header-section">
                               <h1>
                                   <i class="fa fa-table"></i>News List<br><small>Managing news was never so much easier!!</small>
                               </h1>
                           </div>
                       </div>
                       <ul class="breadcrumb breadcrumb-top">
                           <li>News</li>
                           <li><a href="panel/news/list/">List</a></li>
                       </ul>
                       <!-- END Datatables Header -->

                       <!-- Datatables Content -->
                       <div class="block full">
                           <div class="block-title">
                               <h2><strong>Datatables</strong> integration</h2>
                           </div>
                           <p><a href="https://datatables.net/" target="_blank">DataTables</a> is a plug-in for the Jquery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, which will add advanced interaction controls to any HTML table. It is integrated with template's design and it offers many features such as on-the-fly filtering and variable length pagination.</p>

                           <div class="table-responsive">
                               <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                   <thead>
                                       <tr>
                                           <th class="text-center">ID</th>
                                           <th class="text-center">Image</th>
                                           <th>Title</th>
                                           <th>Date</th>
                                           <th>Category</th>
                                           <th>Writer</th>
                                           <th>Views</th>
                                           <th class="text-center">Actions</th>
                                       </tr>
                                   </thead>
                                   {% for zad in news %}
                                   <tbody>
                                       <tr>
                                           <td class="text-center">{{zad.pk}}</td>
                                           <td class="text-center"><img src="{% static 'back/img/placeholders/avatars/avatar15.jpg' %}" alt="avatar" class="img-circle"></td>
                                           <td>{{zad.name}} </td>
                                           <td>{{zad.date}}</td>
                                           <td>-</td>
                                           <td>{{zad.writer}}</td>
                                           <td>-</td>
                                           <td class="text-center">
                                               <div class="btn-group">
                                                   <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                   <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                               </div>
                                           </td>
                                       </tr>
                                    {% endfor %}
                                  </tbody>
                               </table>
                           </div>
                       </div>
                       <!-- END Datatables Content -->
{% endblock %}

{% block javascript %}

        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="{% static 'back/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'back/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'back/js/plugins.js' %}"></script>
        <script src="{% static 'back/js/app.js' %}"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}
