{% extends "front/base.html" %}
{% block title %} Url Shortener {% endblock %}
{% block contentblock %}
<main role="main" class="inner cover">
        <h1 class="cover-heading">Bitrate Calculator</h1>
        <p class="lead">This project is powered by Django and Bootstrap</p>
        <p class="lead">
            <form method="post">
            {% csrf_token %}
                  <div class="input-group-prepend">
                          <span class="input-group-text">Hours:</span>
                              {{ form.hour }}
                          <span class="input-group-text" >Minutes:</span>
                              {{ form.minute }}
                          <span class="input-group-text">Seconds:</span>
                              {{ form.second }}
                  </div>
                   <div class="input-group-prepend">
                        <span class="input-group-text">Size limit(In GB):</span>
                       {{ form.size }}
                       <span class="input-group-text">Episode Numbers:</span>
                       {{ form.episode }}
                   </div>

            <input type="submit" value="Submit" class="btn btn-dark">
        </form>
      </main>


{% endblock %}