{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block fontblock %} {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Icon Import Before Everything -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@5.5.1/dist/ionicons/ionicons.esm.js"></script>
    <!-- Disable Ionicons Pointer -->
    <link rel="stylesheet" href="{% static 'core/css/disable-ionicons-pointer.css' %}" />
    <!-- AnimeJS import for resizing Everything :) -->
    <script src="{% static 'vendor/anime/anime.min.js' %}"></script>
    <!-- We need Bulma For Everything. So a global import is good -->
    <link rel="stylesheet" href="{% static 'vendor/bulma/bulma.css' %}">
    <!-- Lodash for state management and superpower -->
    <script src="{% static 'vendor/lodash/lodash.js' %}"></script>

    {% block head %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
{% block body %} {% endblock %}
{% block afterbody %} {% endblock %}
</body>

</html>
