<!-- Footer Player Component -->

<!-- Progressive Image Loader for lazy loading images -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.css">
<script src="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.js"></script>

<!-- HowlerJS for Playing cross browser audio -->
<script src="https://cdn.jsdelivr.net/npm/howler@2.2.1/dist/howler.min.js"
        integrity="sha256-Z6YgsC4qiy8o007mNQmCgSXEmS8CGtzwXi6rzyP/ZiE=" crossorigin="anonymous"></script>
<!-- Lodash for state management and superpower -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
        integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>

<style>
    /* This is active in outer scope */
    .is_footer_active {
        max-height: 85vh;
    }


    .footer {
        background-color: #161616;
        transform: translateY(-12px);
    }


    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: transparent;
        outline: none;
    }


    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4a4a4a;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border: black;
        border-radius: 50%;
        background: #4a4a4a;
        cursor: pointer;
    }

    #slider_progress {
        width: 99%;
        transform: translateX(1%);
    }

    .footer_input_anchor {
        position: relative;
    }

    .footer_input_anchor > progress {
        position: absolute;
    }

    .footer_input_anchor > input {
        position: absolute;
        transform: translateY(-2px);
    }

    .footer_column {
        transform: translateY(-1em);
    }

    .pre_input {
        transform: translateY(-6.5px);
        color: white;
        opacity: .4;
    }

    .post_input {
        transform: translateY(-7px);
        color: white;
        opacity: .4;
    }

    .footer_info_column {
        transform: translateY(-1.6em);
    }

    .footer_control_column {
        transform: translateY(-2em);
    }
</style>

<footer class="footer ">
    <div class="columns is-mobile footer_column">
        <div class="column footer_info_column">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img id="footer-song-image" alt="" src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p class="is-hidden-mobile">
                            <strong id="footer-song-name">Song Name</strong> | <small
                                id="footer-song-artist">Artist</small> | <small id="footer-song-sample-rate"> Sample
                            Rate </small>
                        </p>
                    </div>
                </div>
            </article>

        </div>
        <div class="column footer_control_column">
            <div class="columns is-mobile is-centered">
                <div class="column is-2 has-text-centered">
                    <ion-icon class="previous_icon" name="play-skip-back-circle-outline"></ion-icon>
                    <script async>
                        anime({
                            targets: '.previous_icon',
                            scale: 2,
                            color: "#FFFFFF",
                            duration: 1,
                            translateY: 5,
                            easing: 'linear',
                        })
                    </script>
                </div>
                <div class="column is-2 has-text-centered">
                    <ion-icon class="play_icon" id="play-icon" name="play-circle-outline"></ion-icon>
                    <script async>
                        anime({
                            targets: '.play_icon',
                            scale: 2,
                            color: "#FFFFFF",
                            duration: 1,
                            translateY: 5,
                            easing: 'linear',
                        })
                    </script>
                </div>
                <div class="column is-2 has-text-centered">
                    <ion-icon class="skip_icon" name="play-skip-forward-circle-outline"></ion-icon>
                    <script async>
                        anime({
                            targets: '.skip_icon',
                            scale: 2,
                            color: "#FFFFFF",
                            duration: 1,
                            translateY: 5,
                            easing: 'linear',
                        })
                    </script>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-narrow pre_input">
                    0:00
                </div>
                <div class="column ">
                    <div class="footer_input_anchor">
                        <progress id='slider_progress' class="progress is-small" value="0" max="100"></progress>
                        <input onchange="handleSliderInputChange()" id="transparent_slider"
                               class="slider" step=".01"
                               min="0" max="100" value="0"
                               type="range">
                    </div>
                </div>
                <div class="column is-narrow post_input">
                    1:00
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</footer>
<script async>
    // jQuery to modern JS

    const onDomLoadFunction = (fn) => {
        if (document.readyState != 'loading') {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }
    const resetValue = () => {
        const transparentSliderInputDiv = document.getElementById('transparent_slider')
        transparentSliderInputDiv.value = 0;
    }
    onDomLoadFunction(resetValue)
</script>

<script>
    const handleSliderInputChange = async () => {
        const transparentSliderInputDiv = document.getElementById('transparent_slider')
        const sliderProgressBar = document.getElementById('slider_progress')
        sliderProgressBar.value = transparentSliderInputDiv.value
    }
</script>

<script>
    // Some useful Lodash scripts

    const addOrRemove = async (arr, val) => {
        if (!_.includes(arr, val)) {
            arr.push(val);
        } else {
            _.remove(arr, item => item === val);
        }
        //  console.log(arr);
    }

</script>

<script>
    /*
        Howler JS functions
        Powered by lodash
     */
    let howlerArray = []

    const howlerJsPlay = async (id) => {
        /* Handles the play.
            So if you call sound.play(). This function should handle that
       */
        const srcArray = []
        const fileFormatArray = [];
        let sound;

        const url = `{% url 'song_generator' %}?id=${id}`
        const fileFormat = (document.getElementById(`song-file-format-${id}`).innerText).toLowerCase()

        // Add files to Array for HowlerJS to play
        await addOrRemove(srcArray, url)
        await addOrRemove(fileFormatArray, fileFormat)

        if (_.size(howlerArray) === 0) {
            soundObject = new Howl({
                src: srcArray,
                html5: true,
                format: fileFormatArray,
            })
            await addOrRemove(howlerArray, soundObject)
        } else if (_.size(howlerArray) >= 0) {
            playingSound = howlerArray.shift()
            playingSound.stop()

            soundObject = new Howl({
                src: srcArray,
                html5: true,
                format: fileFormatArray,
            })
            await addOrRemove(howlerArray, soundObject)
        }
        // console.log(howlerArray)  <- Got this working :D

        sound = _.first(howlerArray)
        sound.play()
    }
</script>

<script>
    const updateFooterBoilerPlate = async (id) => {
        const previousSongImage = `song-image-${id}`
        const previousSongName = `song-name-${id}`
        const previousSongArtist = `song-artist-${id}`
        const previousSongSampleRate = `song-sample-rate-${id}`

        const previousSongImageDiv = document.getElementById(previousSongImage)
        const previousSongNameDiv = document.getElementById(previousSongName)
        const previousSongArtistDiv = document.getElementById(previousSongArtist)
        const previousSongSampleRateDiv = document.getElementById(previousSongSampleRate)

        const newSongImage = 'footer-song-image'
        const newSongName = 'footer-song-name'
        const newSongArtist = 'footer-song-artist'
        const newSongSampleRate = 'footer-song-sample-rate'

        const newSongImageDiv = document.getElementById(newSongImage)
        const newSongNameDiv = document.getElementById(newSongName)
        const newSongArtistDiv = document.getElementById(newSongArtist)
        const newSongSampleRateDiv = document.getElementById(newSongSampleRate)

        newSongImageDiv.src = previousSongImageDiv.src
        newSongNameDiv.innerText = previousSongNameDiv.innerText
        newSongArtistDiv.innerText = previousSongArtistDiv.innerText
        newSongSampleRateDiv.innerText = `${previousSongSampleRateDiv.innerText} hz`
    }
</script>
<script defer>
    const handleSongItemClick = async (id) => {
        await howlerJsPlay(id)
        await updateFooterBoilerPlate(id)
    }
</script>