{% extends 'back/master.html' %}
{% load static %}
{% block pageblock %}
<!-- Datatables Header -->
                       <div class="content-header">
                           <div class="header-section">
                               <h1>
                                   <i class="fa fa-table"></i>News List<br><small>Managing news was never so much easier!!</small>
                               </h1>
                           </div>
                       </div>
                       <ul class="breadcrumb breadcrumb-top">
                           <li>News</li>
                           <li><a href="panel/news/list/">List</a></li>
                       </ul>
                       <!-- END Datatables Header -->

                       <!-- Datatables Content -->
                       <div class="row">
                           <div class="col-md-12">
                               <!-- Basic Form Elements Block -->
                               <div class="block">
                                   <!-- Basic Form Elements Title -->
                                   <div class="block-title">
                                       <div class="block-options pull-right">
                                           <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                                       </div>
                                       <h2><strong>Basic Form</strong> Elements</h2>
                                   </div>
                                   <!-- END Form Elements Title -->

                                   <!-- Basic Form Elements Content -->
                                   <form action="{%url 'news_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" >
                                     {% csrf_token %}
                                        <div class="form-group">
                                        <div class="col-md-6">
                                      <input type="text" id="newstitle" name="newstitle" class="form-control" placeholder="Name">
                                            </div>
                                                <div class="col-md-6">
                                                    <select id="newscategory" name="newscategory" class="select-chosen" data-placeholder="Choose a Category" style="width: 250px;">
                                                        <option></option><!-- Required for data-placeholder attribute to work with Chosen plugin -->
                                                        <option value="cat1">Cat 1</option>
                                                        <option value="cat2">Cat 2</option>
                                                        <option value="cat3">Cat 3</option>
                                                    </select>
                                                </div>
                                            <div class="col-md-12">
                                      <textarea type="text" id="shorttext" name="shorttext" rows="5" class="form-control" placeholder="Short Text"></textarea>
                                        </div>

                                           <div class="col-md-12">
                                     <textarea type="text" id="bodytext" name="bodytext" rows="5"  class="form-control" placeholder="Body Text"></textarea>
                                       </div>
                                     </div>
                                          <div class="col-md-12">
                                    <input type="file" id="uploaded_file" name="uploaded_file" rows="5"  class="form-control" placeholder="Body Text"></textarea>
                                      </div>
                                       <div class="form-group">
                                         <div class="col-md-12">
                                           <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                         </div>



                                   </form>
                                   <!-- END Basic Form Elements Content -->
                               </div>
                               <!-- END Basic Form Elements Block -->
                           </div>
                       <!-- END Datatables Content -->
{% endblock %}

{% block javascript %}

        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="{% static 'back/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'back/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'back/js/plugins.js' %}"></script>
        <script src="{% static 'back/js/app.js' %}"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}
