// Adding the HTML attribute for chat app

html.has-navbar-fixed-top, body.has-navbar-fixed-top
	padding-top: 3.25rem
html
    overflow-x: hidden
    overflow-y: hidden
    body
        font-family: 'roboto-regular'
        background-color: #0e0d0d
        .main-column-wrapper

            .main-column

                .column
                    padding-bottom: 0
                    padding-right: 0
                    padding-left: 0
