.full__height {
    float: left;
    height: 100vh;
    width: 200px;
    background-color: #202020;
    color: #707070;
    position: fixed;
    border-right: 1px solid gray;
}
.menu-list {
    font-size: 1.2em;
    padding-top: 2vh;
}
.svg__icons {
    float: left;
    padding-left: 15%;
    padding-right: 0.8em;
}
.menu-list li {
    padding-right: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
.active {
    background-color: #3f3f3f;
    color: #707070;
}
