{% extends 'base.html' %}
{% block fontblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.css">
    <!-- Progressive Image Loader for lazy loading images -->
    <script src="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.js"></script>

{% endblock %}

{% block head %}
    <style>
        @media screen and ( max-width: 767px) {
            body {
                position: relative;
                overscroll-behavior: contain !important;
            }

            .search_input_wrapper {
                display: none;
            }

            .footer_item {
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                height: 120px;
            }

            .footer_control_column {
                margin-right: 1em !important;
            }
        }

    </style>
    <style>
        html {
            background-color: black;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            overflow: hidden;
            height: 100%;
        }

        html::-webkit-scrollbar {
            display: none;
        }

        body {
            overflow: hidden;
            min-height: 100vh;
        }

        .login_button {
            color: #eaeaea;
            background-color: transparent;
            border-color: #3b3838;
            border-width: 1px;
            transition: 0.4s;
        }

        .login_button:hover {
            color: #a5a4a4;
            background-color: #101010;
            border-color: #3b3838;
            border-width: 1px;
        }

        .left_menu_wrapper {
            transform: translateY(-12px);
        }


        .top-navbar {
            background-color: #161616;
            color: white
        }

        .right-column {
            background-color: #060606;
            transform: translateX(-12px);
            overflow-x: hidden;
            overflow-y: scroll;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
            gap: 1em;
            padding-top: 1em;
        }

        .grid-item {
            font-size: 30px;
            vertical-align: middle;
            display: flex;
            justify-content: center;
        }

        .grid-box {
            background-color: transparent;
            color: white
        }

        /*
        For some reason I dont want round items.
        .song-image {
            border-radius: 5px;
        }
        */
        .song-description {
            background-color: transparent;
        }

        .song-title {
            white-space: nowrap;
            width: 8em;
            height: 1.3em;
            color: #e0e0ec;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .song-artist {
            white-space: nowrap;
            width: 10em;
            color: #a1a1a2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .song-image-figure {
            height: 200px;
            width: 200px;
        }

        .login_button_wrapper {
            transform: translateY(5px) translateX(-5px);
        }

        .brand_image > img {
            transform: translateY(.6em) translateX(30px);
        }

        .user_image {
            transform: translateY(10px) translateX(-10px);
        }

        .search_input_div {
            display: flex;
            justify-content: center;
        }

        .search_input_wrapper {
            flex-grow: .4;
            transform: translateY(5px);
        }

        .search_input {
            background-color: #060606;
            border: transparent;
            color: white;
            border-radius: 0;
        }

        .search_input::placeholder {
            color: white;
            opacity: 0.6;
        }

        .search_input_box_right {
            background-color: #323232;
            border-radius: 0;
        }

        .search_input_box_right_wrapper {
            overflow: hidden;
        }

        /* This is active in outer scope */


        .footer_item {
            background-color: #161616;
        }


        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: transparent;
            outline: none;
        }


        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4a4a4a;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border: black;
            border-radius: 50%;
            background: #4a4a4a;
            cursor: pointer;
        }

        #slider_progress {
            width: 99%;
            transform: translateX(1%);
        }

        .footer_input_anchor {
            position: relative;
        }

        .footer_input_anchor > progress {
            position: absolute;
        }

        .footer_input_anchor > input {
            position: absolute;
            transform: translateY(-2px);
        }


        .pre_input {
            transform: translateY(-6.5px);
            color: white;
            opacity: .4;
        }

        .post_input {
            transform: translateY(-7px);
            color: white;
            opacity: .4;
        }

        .footer_info_column {
            margin-left: 3vw;
        }

        .footer_info_column > .media > .media-left > p > img {
            height: 60px;
            width: 60px;
        }


        #footer-song-name, #footer-song-artist, #footer-song-sample-rate, .pre_input, .post_input {
            color: white;
            opacity: 0.85;
        }

        .left-menu {
            height: 105% !important;
        }

        .volume_anchor {
            position: relative;
        }

        .volume_progress {
            position: absolute;
            width: 98%;
            transform: translateX(2%);
        }

        .volume_slider {
            position: absolute;
            transform: translateY(-2px);
        }

        .volume_anchor > .columns {
            transform: translateY(40px)
        }

        .volume_control_column {
            transform: translateY(40px);
        }

        .disabled_link {
            pointer-events: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="columns is-mobile top-navbar">
        <div id="hamburger_icon_wrapper_id" class="column is-narrow">
            <ion-icon class="hamburger_icon" name="menu-sharp"></ion-icon>
            <script async>
                anime({
                    targets: '.hamburger_icon',
                    scale: 1.6,
                    translateY: 10,
                    translateX: 15,
                    color: '#FFFFFF',
                    duration: 0,
                    easing: 'linear'
                })
            </script>
        </div>
        <div class="column is-narrow brand_image">
            <img src="https://cdn.emk.dev/templates/bulma-logo-light.png" width="120"
                 height="40">
        </div>
        <div class="column">
            <div class="field search_input_div">
                <div class="control has-icons-right search_input_wrapper">
                    <input class="input search_input" type="text" placeholder="Search">
                    <span class="icon is-small is-right search_input_box_right_wrapper">
                            <div class="box search_input_box_right">
                                <ion-icon class="search_icon" name="search-outline"></ion-icon>
                                <script async>
                                    anime({
                                        targets: '.search_icon',
                                        color: '#FFFFFF',
                                        scale: 1.4
                                    })
                                </script>
                            </div>
                        </span>
                </div>
            </div>
        </div>
        <div class="column is-narrow ">
            {% if not user.is_authenticated %}
                <div class="login_button_wrapper">
                    <a class="button is-rounded login_button"
                       href="{% url 'login_form' %}?next={{ request.get_full_path }}">
                        <p style="margin-bottom:5px">Login</p>
                    </a>
                </div>
            {% elif user.is_authenticated %}
                <figure class="image is-32x32 user_image">
                    <img alt=""
                         src="https://bulma.io/images/placeholders/128x128.png"
                         class="is-rounded"/>
                </figure>
            {% endif %}
        </div>
    </div>
    <div class="columns is-mobile" style="min-height:calc(100vh - 140px); margin-bottom: 0;max-height: 1vh">
        <div class="column is-narrow left_menu_wrapper">
            {% include 'left-sidebar.html' with active="home" %}
        </div>
        <div class="column right-column">
            <div class="grid-container">
                {% for i in musics %}
                    <div class="grid-item">
                        <div class="box grid-box">
                            <figure class="image song-image-figure " onclick="handleSongItemClick({{ i.id }})">
                                <a id="song-image-{{ i.id }}"
                                   href="{% url 'full_image_generator' %}?id={{ i.id }}"
                                   class="progressive replace disabled_link">
                                    <img height="273px" class="song-image preview"
                                         alt="song-image"
                                         src="{% url 'resized_image_generator' %}?id={{ i.id }}&factor=20&ratio=1x1">
                                </a>
                            </figure>
                            <div class="box song-description">
                                <p class="title is-size-5 song-title"
                                   id="song-name-{{ i.id }}">{{ i.song_name }}</p>
                                <p class="subtitle is-size-6 song-artist"
                                   id="song-artist-{{ i.id }}">{{ i.artist }}</p>
                            </div>
                        </div>

                    </div>
                    <div class="is-hidden" id="song-sample-rate-{{ i.id }}">{{ i.sample_rate }}</div>
                    <div class="is-hidden" id="song-file-format-{{ i.id }}">{{ i.mime_type }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer class="footer_item" style="	transform: translateY(8px);">
        <div class="columns is-mobile footer_column">
            <div class="column footer_info_column  is-3">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img id="footer-song-image" alt=""
                                 src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p class="is-hidden-mobile">
                                <strong id="footer-song-name">Song Name</strong> | <small
                                    id="footer-song-artist">Artist</small> | <small
                                    id="footer-song-sample-rate">
                                Sample
                                Rate </small>
                            </p>
                        </div>
                    </div>
                </article>

            </div>
            <div class="column footer_control_column">
                <div class="columns is-mobile is-centered">
                    <div class="column is-2 has-text-centered">
                        <ion-icon class="previous_icon" name="play-skip-back-circle-outline"></ion-icon>
                        <script async>
                            anime({
                                targets: '.previous_icon',
                                scale: 2,
                                color: "#FFFFFF",
                                duration: 1,
                                translateY: 5,
                                easing: 'linear',
                            })
                        </script>
                    </div>
                    <div class="column is-2 has-text-centered">
                        <ion-icon class="play_icon" onclick="howlerJsPause()" id="play_icon"
                                  name="play-circle-outline"></ion-icon>
                        <ion-icon name="pause-circle-outline" onclick="howlerJsPause()" id="pause_icon"
                                  class="pause_icon"></ion-icon>
                        <script async>
                            anime({
                                targets: '.play_icon, .pause_icon',
                                scale: 2,
                                color: "#FFFFFF",
                                duration: 1,
                                translateY: 5,
                                easing: 'linear',
                            })
                        </script>
                    </div>
                    <div class="column is-2 has-text-centered">
                        <ion-icon class="skip_icon" name="play-skip-forward-circle-outline"></ion-icon>
                        <script async>
                            anime({
                                targets: '.skip_icon',
                                scale: 2,
                                color: "#FFFFFF",
                                duration: 1,
                                translateY: 5,
                                easing: 'linear',
                            })
                        </script>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-narrow pre_input">
                        0:00
                    </div>
                    <div class="column ">
                        <div class="footer_input_anchor">
                            <progress id='slider_progress' class="progress is-small" value="0"
                                      max="100"></progress>
                            <input id="transparent_slider"
                                   class="slider" step=".01"
                                   min="0" max="100" value="0"
                                   type="range">
                        </div>
                    </div>
                    <div class="column is-narrow post_input" id="total_duration">
                        0:00
                    </div>
                </div>
            </div>
            <div class="column is-hidden-mobile is-3 ">
                <div class="columns is-mobile volume_control_column">
                    <div class="column is-2 is-offset-2">
                        <ion-icon class="volume__icon" name="volume-high-outline"></ion-icon>
                        <script async>
                            anime({
                                targets: '.volume__icon',
                                color: '#FFFFFF',
                                translateY: -6,
                                translateX: 22,
                                scale: 1.5
                            })
                        </script>
                    </div>
                    <div class="column ">
                        <div class="volume_anchor">
                            <progress class="progress is-small volume_progress" value="80" max="100"></progress>
                            <input class="slider volume_slider" onchange="handleVolumeInputChange()" step="1"
                                   min="0" max="100" value="80"
                                   type="range">
                        </div>
                    </div>
                    <div class="column is-2 is-offset-1">

                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block afterbody %}

    <!-- HowlerJS for Playing cross browser audio -->
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.1/dist/howler.min.js"
            integrity="sha256-Z6YgsC4qiy8o007mNQmCgSXEmS8CGtzwXi6rzyP/ZiE=" crossorigin="anonymous"></script>
    <script async>
        // jQuery to modern JS

        const onDomLoadFunction = (fn) => {
            if (document.readyState != 'loading') {
                fn();
            } else {
                document.addEventListener('DOMContentLoaded', fn);
            }
        }
        const resetValue = () => {
            const transparentSliderInputDiv = document.getElementById('transparent_slider')
            document.getElementById('pause_icon').classList.add('is-hidden')
            transparentSliderInputDiv.value = 0;
        }
        const setGlobalVolume = (input) => {
            Howler.volume(input / 100)
        }
        onDomLoadFunction(resetValue)
        onDomLoadFunction(setGlobalVolume)
    </script>


    <script>
        // Event Listeners
        onDomLoadFunction(() => {
            document.getElementById('transparent_slider').addEventListener("change", handleSliderInputChange)
        })

    </script>
    <script>
        // Some useful Lodash scripts

        const addOrRemove = async (arr, val) => {
            if (!_.includes(arr, val)) {
                arr.push(val);
            } else {
                _.remove(arr, item => item === val);
            }
            //  console.log(arr);
        }

    </script>
    <script>
        const formatTime = (duration) => {
            // Hours, minutes and seconds
            let hrs = ~~(duration / 3600);
            let mins = ~~((duration % 3600) / 60);
            let secs = ~~duration % 60;

            // Output like "1:01" or "4:03:59" or "123:03:59"
            let ret = "";

            if (hrs > 0) {
                ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
            }

            ret += "" + mins + ":" + (secs < 10 ? "0" : "");
            ret += "" + secs;
            return ret;
        }
    </script>
    <script>
        /*
            Howler JS functions
            Powered by lodash
         */
        let duration;
        let customInterval;
        let sound;

        const howlerArray = [];
        const howlerJsPlayIntervalArray = [];
        const howlerJsDurationArray = [];

        const howlerJsPlay = async (id) => {
            /* Handles the play.
                So if you call sound.play(). This function should handle that
           */
            const srcArray = [];
            const fileFormatArray = [];

            const url = `{% url 'song_generator' %}?id=${id}`
            const fileFormat = (document.getElementById(`song-file-format-${id}`).innerText).toLowerCase()

            // Add files to Array for HowlerJS to play
            await addOrRemove(srcArray, url)
            await addOrRemove(fileFormatArray, fileFormat)

            if (_.size(howlerArray) === 0) {
                soundObject = new Howl({
                    src: srcArray,
                    html5: true,
                    format: fileFormatArray,
                    preload: true,
                })

                await addOrRemove(howlerArray, soundObject)
            } else if (_.size(howlerArray) >= 0) {
                playingSound = howlerArray.shift()
                playingSound.stop()

                soundObject = new Howl({
                    src: srcArray,
                    html5: true,
                    format: fileFormatArray,
                    preload: true,

                })

                await addOrRemove(howlerArray, soundObject)
            }
            sound = _.first(howlerArray)

            // Set duration
            sound.on('load', () => {
                howlerJsDuration()
            })
            // Set Play Speed
            sound.on('play', () => {
                howlerJsPlayInterval()
            })
            // Set Player End Event
            sound.on('end', () => {
                howlerJsOnFinish()
            })
            // Play Exception Handler
            sound.on('loaderror', () => {
                sound.once('unlock', function () {
                    sound.play();
                });
            })
            // Play button change Events
            document.getElementById('play_icon').classList.add('is-hidden')
            document.getElementById('pause_icon').classList.remove('is-hidden')

            sound.play()
        }

        const howlerJsPause = async () => {
            if (_.size(howlerArray) >= 1) {
                sound = _.first(howlerArray)
                if (sound.playing()) {
                    // Song is playing
                    document.getElementById('play_icon').classList.remove('is-hidden')
                    document.getElementById('pause_icon').classList.add('is-hidden')

                    sound.pause()
                } else if (!sound.playing()) {
                    // Song is not playing
                    document.getElementById('play_icon').classList.add('is-hidden')
                    document.getElementById('pause_icon').classList.remove('is-hidden')

                    sound.play()
                }
            } else if (_.size(howlerArray) < 1) {
                console.log("No Song Playing")
            }
        }

        const howlerJsDuration = async () => {
            sound = _.first(howlerArray)
            const element = document.getElementById('total_duration');
            element.innerText = formatTime(sound.duration())
        }

        const howlerJsPlayInterval = async () => {
            const startInterval = async () => {
                sound = _.first(howlerArray)
                customInterval = setInterval(() => {
                    if (sound.playing()) {
                        updateFooterControl()
                    }
                }, 1000)
            }
            clearInterval(customInterval);
            await startInterval()
            duration = 0;
        }
        const howlerJsOnFinish = async () => {
            sound = _.first(howlerArray)
            duration = 0;
            clearInterval(customInterval)
            await howlerJsPlay()
            const preInputElement = document.querySelector('.pre_input')
            const sliderElement = document.querySelector('#slider_progress')
            const progressElement = document.querySelector('#transparent_slider')

            sliderElement.value = 0
            progressElement.value = 0
            preInputElement.innerText = formatTime(0)
        }
    </script>

    <script>

        const updateFooterBoilerPlate = async (id) => {
            const previousSongImage = `song-image-${id}`
            const previousSongName = `song-name-${id}`
            const previousSongArtist = `song-artist-${id}`
            const previousSongSampleRate = `song-sample-rate-${id}`

            const previousSongImageDiv = document.getElementById(previousSongImage)
            const previousSongNameDiv = document.getElementById(previousSongName)
            const previousSongArtistDiv = document.getElementById(previousSongArtist)
            const previousSongSampleRateDiv = document.getElementById(previousSongSampleRate)

            const newSongImage = 'footer-song-image'
            const newSongName = 'footer-song-name'
            const newSongArtist = 'footer-song-artist'
            const newSongSampleRate = 'footer-song-sample-rate'

            const newSongImageDiv = document.getElementById(newSongImage)
            const newSongNameDiv = document.getElementById(newSongName)
            const newSongArtistDiv = document.getElementById(newSongArtist)
            const newSongSampleRateDiv = document.getElementById(newSongSampleRate)

            newSongImageDiv.src = previousSongImageDiv.href
            newSongNameDiv.innerText = previousSongNameDiv.innerText
            newSongArtistDiv.innerText = previousSongArtistDiv.innerText
            newSongSampleRateDiv.innerText = `${previousSongSampleRateDiv.innerText} KHz`
        }
        const updateFooterControl = () => {
            sound = _.first(howlerArray)
            duration = sound.seek();
            const preInputElement = document.querySelector('.pre_input')
            const sliderElement = document.querySelector('#slider_progress')
            const progressElement = document.querySelector('#transparent_slider')
            const convertDurationToHundred = (100 * duration) / sound.duration()

            sliderElement.value = convertDurationToHundred
            progressElement.value = convertDurationToHundred
            preInputElement.innerText = formatTime(duration)
        }
    </script>
    <script defer>
        const handleSongItemClick = async (id) => {
            await howlerJsPlay(id)
            await updateFooterBoilerPlate(id)
        }
    </script>
    <script>
        function calcSliderPos(e) {
            return (e.offsetX / e.target.clientWidth) * parseInt(e.target.getAttribute('max'), 10);
        }

        document.getElementById('transparent_slider').addEventListener('mousemove', function (e) {
            let valueHover = calcSliderPos(e).toFixed(2);
        });

        const handleSliderInputChange = async () => {
            const transparentSliderInputDiv = document.getElementById('transparent_slider')
            const sliderProgressBar = document.getElementById('slider_progress')
            sliderProgressBar.value = transparentSliderInputDiv.value
            sound = _.first(howlerArray)
            const duration = (sound.duration() * sliderProgressBar.value) / 100
            sound.seek(duration)
            updateFooterControl()
        }
        const handleVolumeInputChange = () => {
            const volumeProgressElement = document.querySelector('.volume_progress')
            const volumeSliderElement = document.querySelector('.volume_slider')
            const volume = volumeSliderElement.value
            volumeProgressElement.value = volume
            setGlobalVolume(volume)
        }
    </script>
    <script async>
        const watchMediaQueryFunctionVolume = (event) => {
            if (event.matches) {
                {# Mobile Version #}
                setGlobalVolume(100)
            } else if (!event.matches) {
                {# Desktop Vesion #}
                setGlobalVolume(80)

            }
        }
        // Init the Function Once
        watchMediaQueryFunctionVolume(mediaQueryListener)
        // Add listener
        mediaQueryListener.addListener(watchMediaQueryFunctionVolume)
    </script>
{% endblock %}


