{% extends 'base.html' %}
{% block fontblock %}

{% endblock %}

{% block head %}
    <style>
        @media screen and ( max-width: 767px) {
            .search_input_wrapper {
                display: none;
            }

        }

    </style>
    <style>
        html {
            background-color: black;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        html::-webkit-scrollbar {
            display: none;
        }

        body {
            height: 100vh;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .login_button {
            color: #eaeaea;
            background-color: transparent;
            border-color: #3b3838;
            border-width: 1px;
            transition: 0.4s;
        }

        .login_button:hover {
            color: #a5a4a4;
            background-color: #101010;
            border-color: #3b3838;
            border-width: 1px;
        }

        .left_menu_wrapper {
            transform: translateY(-12px);
        }


        .top-navbar {
            background-color: #161616;
            color: white
        }

        .right-column {
            background-color: #060606;
            transform: translateX(-12px);
            overflow-y: scroll;
            height: 100vh;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
            gap: 1em;
            padding-top: 1em;
        }

        .grid-item {
            font-size: 30px;
            vertical-align: middle;
            display: flex;
            justify-content: center;
        }

        .grid-box {
            background-color: transparent;
            color: white
        }

        .song-image {
            border-radius: 5px;
        }

        .song-description {
            background-color: transparent;
        }

        .song-title {
            white-space: nowrap;
            width: 8em;
            color: #e0e0ec;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .song-artist {
            white-space: nowrap;
            width: 10em;
            color: #a1a1a2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .song-image-figure {
            height: 200px;
            width: 200px;
        }

        .login_button_wrapper {
            transform: translateY(10px);
        }

        .brand_image > img {
            transform: translateY(.6em) translateX(30px);
        }

        .user_image {
            transform: translateY(10px) translateX(-10px);
        }

        .search_input_div {
            display: flex;
            justify-content: center;
        }

        .search_input_wrapper {
            flex-grow: .4;
            transform: translateY(5px);
        }

        .search_input {
            background-color: #060606;
            border: transparent;
            color: white;
            border-radius: 0;
        }

        .search_input::placeholder {
            color: white;
            opacity: 0.6;
        }

        .search_input_box_right {
            background-color: #323232;
            border-radius: 0;
        }

        .search_input_box_right_wrapper {
            overflow: hidden;
        }


    </style>
{% endblock %}

{% block body %}
    <div class="columns is-mobile top-navbar">
        <div id="hamburger_icon_wrapper_id" class="column is-narrow">
            <ion-icon class="hamburger_icon" name="menu-sharp"></ion-icon>
            <script async>
                anime({
                    targets: '.hamburger_icon',
                    scale: 1.6,
                    translateY: 10,
                    translateX: 15,
                    color: '#FFFFFF',
                    duration: 0,
                    easing: 'linear'
                })
            </script>
        </div>
        <div class="column is-narrow brand_image">
            <img src="https://cdn.emk.dev/templates/bulma-logo-light.png" width="120"
                 height="40">
        </div>
        <div class="column">
            <div class="field search_input_div">
                <div class="control has-icons-right search_input_wrapper">
                    <input class="input search_input" type="text" placeholder="Search">
                    <span class="icon is-small is-right search_input_box_right_wrapper">
                        <div class="box search_input_box_right">
                            <ion-icon class="search_icon" name="search-outline"></ion-icon>
                            <script async>
                                anime({
                                    targets: '.search_icon',
                                    color: '#FFFFFF',
                                    scale: 1.4
                                })
                            </script>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="column is-narrow ">
            {% if not user.is_authenticated %}
                <div class="login_button_wrapper">
                    <a class="button is-rounded login_button"
                       href="{% url 'login_form' %}?next={{ request.get_full_path }}">
                        <p style="margin-bottom:5px">Login</p>
                    </a>
                </div>
            {% elif user.is_authenticated %}
                <figure class="image is-32x32 user_image">
                    <img alt=""
                         src="https://bulma.io/images/placeholders/128x128.png"
                         class="is-rounded"/>
                </figure>
            {% endif %}
        </div>
    </div>
    <div class="columns is-mobile ">
        <div class="column is-narrow left_menu_wrapper">
            {% include 'left-sidebar.html' with active="home" class='is_footer_active' %}
        </div>
        <div class="column right-column is_footer_active">
            <div class="grid-container">
                {% for i in musics %}
                    <div class="grid-item">
                        <a>
                            <div class="box grid-box">
                                <figure class="image song-image-figure ">
                                    <img height="273px" class="song-image" alt="song-image"
                                         src="{% url 'image_generator' %}?id={{ i.id }}">
                                </figure>
                                <div class="box song-description">
                                    <p class="title is-size-5 song-title">{{ i.song_name }}</p>
                                    <p class="subtitle is-size-6 song-artist">{{ i.artist }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "footer-player.html" %}
{% endblock %}

{% block afterbody %}
{% endblock %}
