{% extends "front/base.html" %}

<!--    Working

        $(document).ready(setInterval(function () {
            $("#ajaxReload").load(" #ajaxReload");
        }), 10000);

        -->
{% block heroblock %}
    <script type="text/javascript">
    window.setInterval(function (){
        $("#ajaxReload").load(" #ajaxReload");
    }, 5000)

    </script>
{#    <button hidden>Click me</button>#}

    <div id="ajaxReload">
        {% for poll in polls %}
            <section class="card hero" style="text-align: center">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            {{ poll.question }}
                        </h1>
                        <h2 class="subtitle">
                            <a href="/polls/{{ poll.pk }}/">Vote</a>
                        </h2>
                    </div>
                </div>
            </section>
            <br>

        {% endfor %}
    </div>

{% endblock %}
