{% extends "front/base.html" %}
{% load static %}
{% block title %}Short URL{% endblock %}

{% block contentblock %}
    <main role="main" class="inner cover">
        <p class="lead">
            <p class="lead">
                Here is your Download link:
            </p>
        <form action="{{ link }}">
            <p>
                If your download doesn't start, <input type="submit" id="submit" value="Click Here" class="btn btn-dark">
            </p>
        </form>

    </main>

    <script>
    window.onload = function(){
      document.getElementById('submit').click();
    }
    </script>

{% endblock %}