zarif-ahnaf.duckdns.org {
    handle_path /static/* {
        file_server browse {
            root C:/Programming/soundcore/staticfiles
        }
    }
    handle_path /media/* {
        file_server {
            root C:/Programming/soundcore/media
        }
    }
    handle_path /* {
        reverse_proxy localhost:8000
    }
}
