[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
mutagen = "*"
asgiref = "*"
sorl-thumbnail = "*"
uvicorn = { extras = ["standard"], version = "*" }
whitenoise = {extras = ["brotli"], version = "*"}
psycopg2 = "*"

[dev-packages]
black = "==21.5b2"

[requires]
python_version = "3.9"
